/*img {
    position: relative;
    width: 100px;
    height: 100px;
}
*/

h2 {
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 24px;
}

small {
    font-weight: lighter;
    font-style: italic;
}

.column {
    width: 1320px;
    height: 580px;
    position: relative;
}

.row,
.row1 {
    border: 1px black;
    position: absolute;
    bottom: 0;
}

.row {
    left: 0;
    background-color: gray;
}

.row1 {
    right: 0;
}

.button {
    background-color: rgb(126, 122, 122);
    border: none;
    outline-color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    width: 100%;
}